{% extends "stock/base.html" %}

{% load static %}

{% block content %}

    {% for product in object_list %}
        <h1>{{ product.name }}</h1>
        {{ product.description }}

        <br><br>
        
        <img src="{{ product.image.url }}">
        <br>
        {{ product.quantity }} em estoque
        <br>
        <form method="POST" action="{% url 'add-stock' product.id %}">
            {% csrf_token %}
            <input type="number" name="quantity" min="1">
            <input type="submit" value="Adicionar ao estoque">
        </form>
        <form method="POST" action="{% url 'remove-stock' product.id %}">
            {% csrf_token %}
            <input type="number" name="quantity" min="1">
            <input type="submit" value="Remover do estoque">
        </form>
        <br><br>
    {% endfor %}

{% endblock %}